.icon-html5-alt{
    color: red;
}
.icon-mysql-alt{
    color: #17a2b8;
}
.icon-css3-alt{
    color: #007bff;
}
.icon-php{
    color: mediumpurple;
}
.fa fa-long-arrow-right{
    color: darkorange;       
}
.icon-javascript{
    color: #d39e00;
}